* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../assets/background-image.webp);
  background-size: cover;
  background-position: center;
}

button {
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  text-transform: uppercase;
}
